@tailwind base;
@tailwind components;
@tailwind utilities;


.hero-banner {
  background-image: url("./assets/hero-banner.jpg");
  background-color: rgba(0, 0, 0, 0.5);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  .hero-overlay {
    background: radial-gradient(circle, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, .4) 70%);
  }
}